#line-div {
	margin: 20px;
	width: 100px;
	height: 100px;
	animation: rotation 3s linear infinite;
	transform-origin: center;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
