#line-div {
	margin: 20px;
	width: 400px;
	height: 400px;
	animation: rotation 3s linear infinite;
	transform-origin: center;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#royalty-container {
	display: flex;
	justify-content: center;
	background-color: coral;
}
#royalty-image {
	width: 80%;
}
